.card {
    border: 1px solid black;
    display: grid;
    grid-template-rows: fit-content(32px) 1fr fit-content(32px);
}

.header {
    border-bottom: 1px solid black;
    font-size: 1.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;
}

.body {
    padding: 0.5em;
}

.footer {
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}