header {
    text-align: center;
}

.controls {
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.cardsInHand {
    margin-top: 1em;
    display: grid;
    gap: 1em;
}

.handSize2 {
    grid-template-columns: 1fr 1fr;
}

.handSize3 {
    grid-template-columns: 1fr 1fr 1fr;
}